<html>
  <head>
    <title>
      Create Event
    </title>
  </head>
  <body>
    <h1>
      Create Event
    </h1>
    <form action="/events/create" method="post">
      <div><label>Name</label><input></div>
      <div><label>Description</label><textarea></textarea></div>
      <div><label>Location</label><input></div>
      <div><label>Host</label><input></div>
      <div><button type="submit">Submit</button></div>
    </form>
  </body>
</html>